---
// No props needed for basic footer
---

<footer class="ftn-footer">
  <div class="ftn-container">
    <div class="ftn-footer-content" style="justify-content: center; text-align: center;">
      <p>All trademarks, images and logos are the property of their respective owners. | <a href="https://fishtank.live" target="_blank" rel="noopener" style="text-decoration: underline;">fishtank.live</a></p>
    </div>
  </div>
</footer>
